
.not-logged{
	float: right;
    margin: 10px 5px;
}
.center-text{
	text-align: center;
}
.box-center{
	background-color: #f8f8f8;
    max-width: 400px;
    padding: 25px 112px;
    margin: 20px auto;
    text-align: left;
}
input[type='submit']{
	    float: right;
}
.box-left{
	background-color: #f8f8f8;
}
.customers h1{
	margin: 10px auto;
	text-align: center;
}
a.print{
	float: right;
}
.btn-left{
	margin-left: 8px;
}
.btnLeft{
	margin-left: 100px;
}
.print, .new{
	margin-bottom: 10px;
}



